<h1>{{title}}</h1>

<div class="card">
  <div class="card-body">
    <form [formGroup]="detalleForm" (ngSubmit)="onSubmit()">

      <!--Identificacion-->
      <div class="form-group">
        <label>Identificación</label>
        <input type="text"
               formControlName="identificacion"
               class="form-control"
               [ngClass]="{ 'is-invalid': subido && f['identificacion'].errors }" />
        <i class="form-group__bar"></i>
        <div *ngIf="subido && f['identificacion'].errors" class="invalid-tooltip">
          <div *ngIf="f['identificacion'].errors['required']">
            Identificacion requerida
          </div>
        </div>
      </div>

      <!--Nombre-->
      <div class="form-group">
        <label>Nombre</label>
        <input type="text"
               formControlName="nombre"
               class="form-control"
               [ngClass]="{ 'is-invalid': subido && f['nombre'].errors }" />
        <i class="form-group__bar"></i>
        <div *ngIf="subido && f['nombre'].errors" class="invalid-tooltip">
          <div *ngIf="f['nombre'].errors['required']">
            Nombre requerido
          </div>
        </div>
      </div>

      <!--Apellidos-->
      <div class="form-group">
        <label>Apellidos</label>
        <input type="text"
               formControlName="apellidos"
               class="form-control"
               [ngClass]="{ 'is-invalid': subido && f['Apellidos'].errors }" />
        <i class="form-group__bar"></i>
        <div *ngIf="subido && f['apellidos'].errors" class="invalid-tooltip">
          <div *ngIf="f['apellidos'].errors['required']">
            Apellidos requeridos.
          </div>
        </div>
      </div>

      <!--Telefono-->
      <div class="form-group">
        <label>Télefono</label>
        <input type="text"
               formControlName="telefono"
               class="form-control"
               [ngClass]="{ 'is-invalid': subido && f['telefono'].errors }" />
        <i class="form-group__bar"></i>
        <div *ngIf="subido && f['telefono'].errors" class="invalid-tooltip">
          <div *ngIf="f['telefono'].errors['required']">
            Télefono requerido
          </div>
        </div>
      </div>


      <!--Direccion-->
      <div class="form-group">
        <label>Dirección</label>
        <input type="text"
               formControlName="direccion"
               class="form-control"
               [ngClass]="{ 'is-invalid': subido && f['direccion'].errors }" />
        <i class="form-group__bar"></i>
        <div *ngIf="subido && f['direccion'].errors" class="invalid-tooltip">
          <div *ngIf="f['direccion'].errors['required']">
            Dirección requerida
          </div>
        </div>
      </div>

      <!--Botones-->
      <div class="botones-form">
        <button type="button"
                class="btn btn-secondary btn--raised"
                [routerLink]="['/empleados']">
          Volver
        </button>
        <button [disabled]="cargando" class="btn btn-primary btn--raised">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

