<h1>{{title}}</h1>

<div class="card">
  <div class="card-body">
    <form [formGroup]="detalleForm" (ngSubmit)="onSubmit()">

      <!--Nombre-->
      <div class="form-group">
        <label>Nombre</label>
        <input type="text"
               formControlName="nombre"
               class="form-control"
               [ngClass]="{ 'is-invalid': subido && f['nombre'].errors }" />
        <i class="form-group__bar"></i>
        <div *ngIf="subido && f['nombre'].errors" class="invalid-tooltip">
          <div *ngIf="f['nombre'].errors['required']">
            Nombre requerido
          </div>
        </div>
      </div>

      <!--Botones-->
      <div class="botones-form">
        <button type="button"
                class="btn btn-secondary btn--raised"
                [routerLink]="['/tiposPersona']">
          Volver
        </button>
        <button [disabled]="cargando" class="btn btn-primary btn--raised">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

